{
  "printWidth": 80,
  "tabWidth": 2,
  "tabs": false,  
  
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}